In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("OnlineRetail.csv",encoding ='latin1')

In [5]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Shape of the data

In [7]:
data.shape

(541909, 8)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [9]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [10]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

round(100*(data.isnull().sum())/len(retail),2)

In [11]:
round(100*(data.isnull().sum())/len(data),2)

InvoiceNo       0.00
StockCode       0.00
Description     0.27
Quantity        0.00
InvoiceDate     0.00
UnitPrice       0.00
CustomerID     24.93
Country         0.00
dtype: float64

In [12]:
data.dropna()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [13]:
data.shape

(541909, 8)

In [14]:
#data.drop(columns=[StockCode], inplace=True)

In [15]:
data['CustomerID'] = data['CustomerID'].astype(str)

Data preparation
Analyse
#Based on Recency
#Frequency
#Monetary

In [16]:
data['Amount'] = data['Quantity']*data['UnitPrice']
rfm_m  = data.groupby('CustomerID')['Amount'].sum()
rfm_m = rfm_m.reset_index()
rfm_m.head()

  CustomerID   Amount
0    12346.0     0.00
1    12347.0  4310.00
2    12348.0  1797.24
3    12349.0  1757.55
4    12350.0   334.40

In [17]:
# Group by ProductID and sum the quantities sold
product_sales = data.groupby('Description')['Quantity'].sum()

most_sold_product = product_sales.idxmax()
print("Product with the maximum sales:", most_sold_product)

# Filter rows in the original DataFrame for the most sold product
most_sold_product_data = data[data['Description'] == most_sold_product]

# Display the first few rows of this subset
most_sold_product_data.head()

Product with the maximum sales: WORLD WAR 2 GLIDERS ASSTD DESIGNS

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount
3259,536615,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,12/2/2010 10:09,0.29,14047.0,United Kingdom,13.92
3297,536618,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,12/2/2010 10:17,0.29,17017.0,United Kingdom,13.92
4945,536830,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2880,12/2/2010 17:38,0.18,16754.0,United Kingdom,518.40
5047,536839,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,288,12/2/2010 18:25,0.21,15093.0,United Kingdom,60.48
5278,536856,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,12/3/2010 10:26,0.29,13370.0,United Kingdom,13.92

In [20]:
# Grouping by Description and calculating the total quantity sold for each product
frequently_sold_products = data.groupby('Description')['InvoiceNo'].count().sort_values(ascending=False)

# Display the top 10 most frequently sold products
print(frequently_sold_products.head(10))

Description
WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
ASSORTED COLOUR BIRD ORNAMENT         1501
SET OF 3 CAKE TINS PANTRY DESIGN      1473
PACK OF 72 RETROSPOT CAKE CASES       1385
LUNCH BAG  BLACK SKULL.               1350
NATURAL SLATE HEART CHALKBOARD        1280
Name: InvoiceNo, dtype: int64

In [22]:
# Convert 'InvoiceDate' column to datetime using the correct format
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], format='%m/%d/%Y %H:%M')

# Continue with your calculations
last_date = data['InvoiceDate'].max()
month_start_day = last_date - pd.Timedelta(days=30)

# Filter data for the last 30 days
last_month_data = data[data['InvoiceDate'] >= month_start_day]

# Create 'Amount' column
last_month_data['Amount'] = last_month_data['Quantity'] * last_month_data['UnitPrice']

# Group by 'CustomerID' (or another column) and sum the 'Amount' column
grouped_last_month_data = last_month_data.groupby('CustomerID')['Amount'].sum().reset_index()

# Print the grouped data
print(f"Total sales amount recorded in the last 30 days grouped by CustomerID:\n{grouped_last_month_data}")

Total sales amount recorded in the last 30 days grouped by CustomerID:
     CustomerID        Amount
0       12347.0  2.248200e+02
1       12349.0  1.757550e+03
2       12356.0  5.835000e+01
3       12358.0  6.832000e+02
4       12359.0 -9.125000e+01
...         ...           ...
1691    18274.0  1.776357e-15
1692    18276.0 -1.250000e+01
1693    18282.0  7.784000e+01
1694    18283.0  8.595600e+02
1695        nan  3.412653e+05

[1696 rows x 2 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_12484\4195143530.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_month_data['Amount'] = last_month_data['Quantity'] * last_month_data['UnitPrice']

In [23]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
last_date = data['InvoiceDate'].max()
last_month = last_date.month
last_month_year = last_date.year
last_month_data = data[(data['InvoiceDate'].dt.month == last_month) & 
                       (data['InvoiceDate'].dt.year == last_month_year)]
total_sales_last_month = last_month_data['Quantity'].sum()

print(f"The total amount of sales recorded in the last month ({last_month_year}-{last_month}) is: {total_sales_last_month}")

The total amount of sales recorded in the last month (2011-12) is: 226333

In [24]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'],format ='%d-%m-%Y %H:%M')
last_date = data['InvoiceDate'].max()
month_start_day= last_date - pd.Timedelta(days=30)
print(month_start_day)

# Filter data for the last 30 days
last_month_data = data[data['InvoiceDate'] >= month_start_day]

# Calculate the total sales amount for the last 30 days
total_sales_last_month = last_month_data['Quantity'].sum()

print(f"The total amount of sales recorded in the last 30 days is: {total_sales_last_month}")

2011-11-09 12:50:00
The total amount of sales recorded in the last 30 days is: 759554

In [25]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# Select numerical features for clustering
X = data[['Quantity', 'UnitPrice']]

In [27]:
# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [28]:
from sklearn.metrics import silhouette_score

In [29]:
silhouette_scores = []

In [30]:
inertia = []

In [ ]:
# Iterate over a range of k values to find the optimal number of clusters
for k in range(2, 11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(X_scaled)
    inertia.append(kmeans.inertia_)
    silhouette_scores.append(silhouette_score(X_scaled, kmeans.labels_))

In [ ]:
plt.figure(figsize=(12, 6))

# Plotting Inertia
plt.subplot(1, 2, 1)
plt.plot(range(2, 11), inertia, marker='o', linestyle='--')
plt.xlabel('Number of clusters (k)')
plt.ylabel('Inertia')
plt.title('Elbow Method For Optimal k')

In [ ]:
plt.show()